body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Helvetica sans-serif;
}

table {
    display: inline-table;
    margin-top: 3px;
    border: 1px solid black;
    width: 16.2%;
    font-size: 14px;
}

thead {
    background: #566475;
    color: white;
}

#header {
    background: #5e6073;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
}

#layout {
    position: relative;
    height: 80vh;
}

#navigationPanel {
    background: #b2d3be;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 85%;
    float: left;
}

#board {
    background: #f2f4d1;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 15%;
    right: 0%;
    float: left;
    text-align: center;
}

#footer {
    background: #89a3b2;
    height: 10vh;
}

.high {
    background-color: red;
    color: red;
}

.mid {
    background-color: yellow;
    color: green;
}

.low {
    background-color: green;
    color: yellow;
}

